<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>852565900568-ijt18m6jgnk601fc8fb7dtfpgs9tbn3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852565900568-ijt18m6jgnk601fc8fb7dtfpgs9tbn3v</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ZjyD8FcZ_uK-U_q-cgwgtkLVRG6gozw</string>
	<key>GCM_SENDER_ID</key>
	<string>852565900568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.ConnectFourApp</string>
	<key>PROJECT_ID</key>
	<string>connectfour-dad08</string>
	<key>STORAGE_BUCKET</key>
	<string>connectfour-dad08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852565900568:ios:dff678c3977b4eec</string>
	<key>DATABASE_URL</key>
	<string>https://connectfour-dad08.firebaseio.com</string>
</dict>
</plist>